<!DOCTYPE html>
<script src="/index.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
<div id="title">
  <h1 id="tryUpdate">Live Twitter Feed</h1>
</div>
<div id="searchInput">
  <input type="text" name="search" placeholder="Search for a hashtag">
</div>
<br>
<div>
  <input type="submit" name="submit">
</div>

 <script>
       var socket = io.connect('http://localhost:8080');
       socket.on('stream', function(tweet){
       $('#tweetd').prepend(tweet+'<br>');
       });
 </script>
 <div id="tweetd"></div>
</div>
