extends layout


block content
    div(id = title)
      <h1>Live Twitter Feed</h1>
      <br>
    div(id = bar)
      input(type="text" name="search" placeholder="Search for a hashtag!")

    div(id = submit)
    <br>
      input(type="submit" name="submit")
